In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [63]:
pd.set_option('display.max_columns', None)

microplastics = pd.read_csv('data\Marine_Microplastics_WGS84_5159774935198085819.csv')
microplastics.head()

<>:3: SyntaxWarning: invalid escape sequence '\M'
<>:3: SyntaxWarning: invalid escape sequence '\M'
C:\Users\charl\AppData\Local\Temp\ipykernel_25160\4206461962.py:3: SyntaxWarning: invalid escape sequence '\M'
  microplastics = pd.read_csv('data\Marine_Microplastics_WGS84_5159774935198085819.csv')

,OBJECTID,Oceans,Regions,SubRegions,Sampling Method,Measurement,Unit,Density Range,Density Class,Short Reference,Long Reference,DOI,Organization,Keywords,Accession Number,Accession Link,Latitude,Longitude,Date,GlobalID,x,y
0,1,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Law et al.2010,"Law, K.L., S. Morét-Ferguson, N.A. Maximenko, ...",https://doi.org/10.1126/science.1192321,Sea Education Association,SEA,211007,https://www.ncei.noaa.gov/access/metadata/land...,45.28,-60.29,7/13/1989 12:00:00 AM,88ccb360-a4b6-4dac-954e-4eb7d61ecab4,-60.29,45.28
1,2,Atlantic Ocean,NaN,NaN,Neuston net,0.002276,pieces/m3,0.0005-0.005,Low,Law et al.2010,"Law, K.L., S. Morét-Ferguson, N.A. Maximenko, ...",https://doi.org/10.1126/science.1192321,Sea Education Association,SEA,211007,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,5a9c64f2-a6fb-40ed-a79a-f4bbb586d753,-70.65,40.93
2,3,Atlantic Ocean,NaN,NaN,Neuston net,0.004320,pieces/m3,0.0005-0.005,Low,Law et al.2010,"Law, K.L., S. Morét-Ferguson, N.A. Maximenko, ...",https://doi.org/10.1126/science.1192321,Sea Education Association,SEA,211007,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,a09a6842-c66a-4718-9989-4907cd428f38,-70.65,40.93
3,4,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Law et al.2010,"Law, K.L., S. Morét-Ferguson, N.A. Maximenko, ...",https://doi.org/10.1126/science.1192321,Sea Education Association,SEA,211007,https://www.ncei.noaa.gov/access/metadata/land...,40.30,-69.77,10/12/1989 12:00:00 AM,ce10e70e-5af9-4bb9-80ac-3467c3e90fba,-69.77,40.30
4,5,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Law et al.2010,"Law, K.L., S. Morét-Ferguson, N.A. Maximenko, ...",https://doi.org/10.1126/science.1192321,Sea Education Association,SEA,211007,https://www.ncei.noaa.gov/access/metadata/land...,39.88,-67.15,10/15/1989 12:00:00 AM,c2ccdc44-5c00-4e4d-bdcb-ae435dcefefd,-67.15,39.88

In [64]:
print(microplastics.columns)

Index(['OBJECTID', 'Oceans', 'Regions', 'SubRegions', 'Sampling Method',
       'Measurement', 'Unit', 'Density Range', 'Density Class',
       'Short Reference', 'Long Reference', 'DOI', 'Organization', 'Keywords',
       'Accession Number', 'Accession Link', 'Latitude', 'Longitude', 'Date',
       'GlobalID', 'x', 'y'],
      dtype='object')

In [65]:
data = pd.DataFrame = microplastics[['Oceans', 'Regions', 'SubRegions', 'Sampling Method',
       'Measurement', 'Unit', 'Density Range', 'Density Class', 'Organization', 'Accession Link',
       'Latitude', 'Longitude', 'Date', 'x', 'y']]

data.head()

,Oceans,Regions,SubRegions,Sampling Method,Measurement,Unit,Density Range,Density Class,Organization,Accession Link,Latitude,Longitude,Date,x,y
0,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,45.28,-60.29,7/13/1989 12:00:00 AM,-60.29,45.28
1,Atlantic Ocean,NaN,NaN,Neuston net,0.002276,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,-70.65,40.93
2,Atlantic Ocean,NaN,NaN,Neuston net,0.004320,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,-70.65,40.93
3,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.30,-69.77,10/12/1989 12:00:00 AM,-69.77,40.30
4,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,39.88,-67.15,10/15/1989 12:00:00 AM,-67.15,39.88

In [66]:
data.columns = data.columns.str.strip().str.lower()
data.head()

,oceans,regions,subregions,sampling method,measurement,unit,density range,density class,organization,accession link,latitude,longitude,date,x,y
0,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,45.28,-60.29,7/13/1989 12:00:00 AM,-60.29,45.28
1,Atlantic Ocean,NaN,NaN,Neuston net,0.002276,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,-70.65,40.93
2,Atlantic Ocean,NaN,NaN,Neuston net,0.004320,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,-70.65,40.93
3,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.30,-69.77,10/12/1989 12:00:00 AM,-69.77,40.30
4,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,39.88,-67.15,10/15/1989 12:00:00 AM,-67.15,39.88

In [86]:
# extracting the month and year from the date column

# converting the date field to a datetime object
data['date'] = pd.to_datetime(data['date'])

# extract year and month from the date
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month

data.head()

C:\Users\charl\AppData\Local\Temp\ipykernel_25160\3630126949.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['date'] = pd.to_datetime(data['date'])
C:\Users\charl\AppData\Local\Temp\ipykernel_25160\3630126949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = pd.to_datetime(data['date'])
C:\Users\charl\AppData\Local\Temp\ipykernel_25160\3630126949.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['year'] = data['date'].dt.year
C:\Users\charl\AppData\Local\Temp\ipykernel_25160\3630126949.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['date'].dt.month

,oceans,regions,subregions,sampling method,measurement,unit,density range,density class,organization,accession link,latitude,longitude,date,x,y,year,month
0,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,45.28,-60.29,1989-07-13,-60.29,45.28,1989,7
1,Atlantic Ocean,NaN,NaN,Neuston net,0.002276,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,1989-10-12,-70.65,40.93,1989,10
2,Atlantic Ocean,NaN,NaN,Neuston net,0.004320,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,1989-10-12,-70.65,40.93,1989,10
3,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.30,-69.77,1989-10-12,-69.77,40.30,1989,10
4,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,39.88,-67.15,1989-10-15,-67.15,39.88,1989,10

In [87]:
missing_values = data.isnull().sum()
print(missing_values[missing_values > 0])

# we have decided to not take care of any missing values, because they still have necessary data in other columns

oceans           271
regions        12076
subregions     20815
measurement     5817
dtype: int64

In [88]:
oceans_nan = data[data['oceans'].isna()]
oceans_nan

# when data on oceans is missing, region and subregional data is also nan - but there is long and lat data so can be plotted

,oceans,regions,subregions,sampling method,measurement,unit,density range,density class,organization,accession link,latitude,longitude,date,x,y,year,month
16353,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,2-40,Medium,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,43.2157,-81.9591,2019-05-19,-81.9591,43.2157,2019,5
16646,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,2-40,Medium,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,40.8924,-90.6123,2019-07-24,-90.6123,40.8924,2019,7
16648,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,2-40,Medium,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,40.8925,-90.6123,2019-07-25,-90.6123,40.8925,2019,7
16663,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,2-40,Medium,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,40.9349,-90.9574,2019-07-27,-90.9574,40.9349,2019,7
16665,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,1-2,Low,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,43.3468,-70.4736,2019-07-28,-70.4736,43.3468,2019,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21361,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,1-2,Low,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,41.3836,-82.5145,2022-05-16,-82.5145,41.3836,2022,5
21373,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,0,Very Low,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,29.9723,-99.2233,2022-05-22,-99.2233,29.9723,2022,5
21382,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,>200,Very High,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,43.0528,-78.8967,2022-05-24,-78.8967,43.0528,2022,5
21383,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,40-200,High,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,43.0528,-78.8967,2022-05-25,-78.8967,43.0528,2022,5
21412,NaN,NaN,NaN,Hand picking,NaN,pieces/10 mins,2-40,Medium,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,32.7114,-96.9773,2022-05-26,-96.9773,32.7114,2022,5

In [89]:
measurement_nan = data[data['measurement'].isna()]
(measurement_nan['sampling method']).value_counts()

# all the nan measurement values are attributed to hand picking as the sampling method

sampling method
Hand picking    5817
Name: count, dtype: int64

In [90]:
data.describe()

,measurement,latitude,longitude,date,x,y,year,month
count,16449.000000,22266.000000,22266.000000,22266,22266.000000,22266.000000,22266.000000,22266.000000
mean,392.823279,26.333569,-67.218853,2011-05-20 06:05:43.411479296,-67.218853,26.333569,2010.852915,6.890461
min,0.000000,-71.699040,-179.994200,1972-04-20 00:00:00,-179.994200,-71.699040,1972.000000,1.000000
25%,0.000000,20.150000,-97.167350,2003-10-30 00:00:00,-97.167350,20.150000,2003.000000,4.000000
50%,0.010800,28.083575,-79.500000,2014-12-04 00:00:00,-79.500000,28.083575,2014.000000,7.000000
75%,0.202381,33.730000,-60.000000,2019-10-09 18:00:00,-60.000000,33.730000,2019.000000,10.000000
max,800000.000000,89.761400,179.854333,2022-11-30 00:00:00,179.854333,89.761400,2022.000000,12.000000
std,8295.005977,18.137928,67.462034,NaN,67.462034,18.137928,9.897606,3.474806

In [91]:
len(data)

22266

In [92]:
data.dtypes

oceans                     object
regions                    object
subregions                 object
sampling method            object
measurement               float64
unit                       object
density range              object
density class              object
organization               object
accession link             object
latitude                  float64
longitude                 float64
date               datetime64[ns]
x                         float64
y                         float64
year                        int32
month                       int32
dtype: object

In [73]:
(data['oceans']).value_counts()

oceans
Atlantic Ocean    15271
Pacific Ocean      5744
Indian Ocean        643
Arctic Ocean        310
Southern Ocean       27
Name: count, dtype: int64

In [74]:
(data['regions']).value_counts()

regions
Gulf of Mexico                               4817
Caribbean Sea                                1886
Mediterranean Sea                            1060
North Sea                                     253
Inner Seas off the West Coast of Scotland     225
                                             ...
Celebes Sea                                     1
Bay of Fundy                                    1
Gulf of Guinea                                  1
Persian Gulf                                    1
Tokyo Bay                                       1
Name: count, Length: 80, dtype: int64

In [75]:
(data['subregions']).value_counts()

subregions
Western Basin                             356
Tampa Bay                                 224
Eastern Basin                             169
Gulf of Mannar                            144
Balearic Sea                              144
Tyrrhenian Sea                            140
Ionian Sea                                 62
Aegean Sea                                 59
Adriatic Sea                               55
Ligurian Sea                               49
Alboran Sea                                23
Coastal Waters of Florida                  12
Florida Keys National Marine Sanctuary      7
Strait of Gibraltar                         3
Gulf of Riga                                2
Gulf of Suez                                1
Gulf of Bothnia                             1
Name: count, dtype: int64

In [76]:
(data['sampling method']).value_counts()

sampling method
Neuston net                  10390
Hand picking                  5835
Manta net                     2731
Grab sample                   1389
PVC cylinder                   370
Intake seawater pump           284
Van Dorn sampler               181
Metal spoon                    135
Plankton net                   100
Megacorer                       90
Metal scoop                     89
plankton net                    72
shovel                          72
Stainless steel bucket          69
Trowel                          60
Aluminum bucket                 57
Stainless steel spoon           50
CTD rosette sampler             48
Ekman dredge                    45
Remotely operated vehicle       40
AVANI net                       36
Petite Ponar benthic grab       36
Sediment grab sampler           26
stainless-steel sampler         23
Day grab                        17
Shipek grab sampler              9
Van Veen grab sampler            7
Surface water intake             5
Name: count, dtype: int64

In [77]:
(data['unit']).value_counts()

unit
pieces/m3           16031
pieces/10 mins       5817
pieces kg-1 d.w.      418
Name: count, dtype: int64

In [78]:
neuston_net = data[data['sampling method'] == 'Neuston net']
neuston_net.head()

,oceans,regions,subregions,sampling method,measurement,unit,density range,density class,organization,accession link,latitude,longitude,date,x,y
0,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,45.28,-60.29,7/13/1989 12:00:00 AM,-60.29,45.28
1,Atlantic Ocean,NaN,NaN,Neuston net,0.002276,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,-70.65,40.93
2,Atlantic Ocean,NaN,NaN,Neuston net,0.004320,pieces/m3,0.0005-0.005,Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.93,-70.65,10/12/1989 12:00:00 AM,-70.65,40.93
3,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,40.30,-69.77,10/12/1989 12:00:00 AM,-69.77,40.30
4,Atlantic Ocean,NaN,NaN,Neuston net,0.000000,pieces/m3,0-0.0005,Very Low,Sea Education Association,https://www.ncei.noaa.gov/access/metadata/land...,39.88,-67.15,10/15/1989 12:00:00 AM,-67.15,39.88

In [79]:
len(neuston_net)

10390

In [80]:
hand_picking = data[data['sampling method'] == 'Hand picking']
hand_picking.head()

,oceans,regions,subregions,sampling method,measurement,unit,density range,density class,organization,accession link,latitude,longitude,date,x,y
15598,Atlantic Ocean,Gulf of Mexico,NaN,Hand picking,NaN,pieces/10 mins,2-40,Medium,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,27.2049,-97.3645,11/7/2018 12:00:00 AM,-97.3645,27.2049
15599,Atlantic Ocean,Gulf of Mexico,NaN,Hand picking,NaN,pieces/10 mins,40-200,High,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,27.4147,-97.3016,11/18/2018 12:00:00 AM,-97.3016,27.4147
15600,Atlantic Ocean,Gulf of Mexico,NaN,Hand picking,NaN,pieces/10 mins,40-200,High,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,27.6057,-97.2077,11/20/2018 12:00:00 AM,-97.2077,27.6057
15601,Atlantic Ocean,Gulf of Mexico,NaN,Hand picking,NaN,pieces/10 mins,2-40,Medium,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,26.0983,-97.1623,11/27/2018 12:00:00 AM,-97.1623,26.0983
15602,Atlantic Ocean,Gulf of Mexico,NaN,Hand picking,NaN,pieces/10 mins,1-2,Low,University of Texas Marine Science Institute,https://www.ncei.noaa.gov/access/metadata/land...,27.8322,-97.3784,11/28/2018 12:00:00 AM,-97.3784,27.8322

In [81]:
len(hand_picking)

5835

In [82]:
manta_net = data[data['sampling method'] == 'Manta net']
manta_net.head()

,oceans,regions,subregions,sampling method,measurement,unit,density range,density class,organization,accession link,latitude,longitude,date,x,y
10186,Pacific Ocean,Tasman Sea,NaN,Manta net,0.008330,pieces/m3,0.005-1,Medium,University of Western Australia,https://www.ncei.noaa.gov/access/metadata/land...,-41.89778,148.44818,4/11/2012 12:00:00 AM,148.44818,-41.89778
10187,Pacific Ocean,Tasman Sea,NaN,Manta net,0.032146,pieces/m3,0.005-1,Medium,University of Western Australia,https://www.ncei.noaa.gov/access/metadata/land...,-41.88393,148.48472,4/11/2012 12:00:00 AM,148.48472,-41.88393
10188,Pacific Ocean,Tasman Sea,NaN,Manta net,0.027710,pieces/m3,0.005-1,Medium,University of Western Australia,https://www.ncei.noaa.gov/access/metadata/land...,-41.87590,148.50267,4/11/2012 12:00:00 AM,148.50267,-41.87590
10189,Pacific Ocean,Tasman Sea,NaN,Manta net,0.000000,pieces/m3,0-0.0005,Very Low,University of Western Australia,https://www.ncei.noaa.gov/access/metadata/land...,-39.65648,148.89263,4/12/2012 12:00:00 AM,148.89263,-39.65648
10190,Pacific Ocean,Tasman Sea,NaN,Manta net,0.000000,pieces/m3,0-0.0005,Very Low,University of Western Australia,https://www.ncei.noaa.gov/access/metadata/land...,-39.65205,148.87323,4/12/2012 12:00:00 AM,148.87323,-39.65205

In [83]:
len(manta_net)

2731

In [84]:
grab_sample = data[data['sampling method'] == 'Grab sample']
grab_sample.head()

,oceans,regions,subregions,sampling method,measurement,unit,density range,density class,organization,accession link,latitude,longitude,date,x,y
8665,Pacific Ocean,Gulf of Alaska,NaN,Grab sample,0.001,pieces/m3,0.0005-0.005,Low,Adventure Scientist,https://www.ncei.noaa.gov/access/metadata/land...,59.3787,-153.5209,7/1/2013 12:00:00 AM,-153.5209,59.3787
8666,Pacific Ocean,Gulf of Alaska,NaN,Grab sample,0.001,pieces/m3,0.0005-0.005,Low,Adventure Scientist,https://www.ncei.noaa.gov/access/metadata/land...,59.3681,-153.5523,7/1/2013 12:00:00 AM,-153.5523,59.3681
8667,Pacific Ocean,Gulf of Alaska,NaN,Grab sample,0.014,pieces/m3,0.005-1,Medium,Adventure Scientist,https://www.ncei.noaa.gov/access/metadata/land...,59.3415,-153.5498,7/1/2013 12:00:00 AM,-153.5498,59.3415
8668,Pacific Ocean,Gulf of Alaska,NaN,Grab sample,0.017,pieces/m3,0.005-1,Medium,Adventure Scientist,https://www.ncei.noaa.gov/access/metadata/land...,59.6387,-153.3957,7/1/2013 12:00:00 AM,-153.3957,59.6387
8669,Pacific Ocean,Gulf of Alaska,NaN,Grab sample,0.071,pieces/m3,0.005-1,Medium,Adventure Scientist,https://www.ncei.noaa.gov/access/metadata/land...,59.3736,-153.4481,7/1/2013 12:00:00 AM,-153.4481,59.3736

In [85]:
len(grab_sample)

1389